*{box-sizing: border-box;}

/* model */

#openButton{background-color: aliceblue;}
#dialogBox{background-color: rgb(255, 255, 255);}
#closeButton{background-color: var(--principal-color);}

::backdrop{
  background-color: rgb(0 0 0 / 50%);
}
