body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  color: #111111;
  padding: 20px;
  line-height: 1.6;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  color: #1b5e20;
}

h1 {
  border-bottom: 2px solid #1b5e20;
  padding-bottom: 5px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

.wireframe h2 {
  color: #1b5e20;
}

.wireframe img {
  max-width: 60%;
  height: auto;
  border: 1px solid #1b5e20;
  margin-bottom: 10px;
}
