/* ------------- COLOR SCHEME –––––––––––––––––––
seep slate blue 

*/


/*  SITE WIDE */

*{
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 8px 0 10px 10px;
    align-items: center;
    border-bottom: solid 1px #ddd;
    column-gap: 40px;
}

header img {
    display: block;
    width: 100;
    height: auto;
    padding-bottom: 5px;
}

header span{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.hamburger{ 
    background: none;
    border: none;
    color: #3D405B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before{
    content: "\2630";
}

.hamburger.show::before{
    content: "\00d7";
}