.card{
    border: 1px solid red;
    background-color: antiquewhite;
    border-radius: 10px;
    text-align: center;
}

.card h2{
    color: aquamarine;
    margin: .3rem 0;
}

.card #description{
    text-transform: capitalize;
    color: black;
    margin: .3rem 0;
}

.card #temperature{
    font-size: 2rem;
    color: bisque;
    margin: .3rem 0;
}