
/* * y body obligatorios para cada pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d5e0a2;
  color: #333;
}


header,
footer {
  background-color: #245850;
  color: white;
  text-align: center;
  padding: 1.5rem;
}

header h1 {
  font-size: 2rem;
}

main {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  width: 100%;
  max-width: 1200px;
}

#cards section {
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}



#cards img {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: cover;
}
